/*
* CS 3744 Fall 2023
* Project 1
* App CSS source code
*
* Author: Shreya Ashok Kumar
* Version: 1.0
*/

.body-box {
    position: relative;
    height: 75%;
    width: 96%;
    top: 2%;
    left: 2%;
}

.comp-box {
    border: 1px solid black;
    position: relative;
    width: 98%;
    border-radius: 5px;
    height: 100%;
}

