/*
* CS 3744 Fall 2023
* Project 1
* BarChart CSS source code
*
* Author: Shreya Ashok Kumar
* Version: 1.0
*/

html, body, svg {
    width:  100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
} 

svg {
    font-family: Arial;
    text-anchor: middle;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    }
.Box {
    width: 100%;
    padding-top:100%;
    position: relative;
    }
    #title {
    font-size: 3pt;
    fill: black;
    }
    #otherTitles {
        font-size: 2pt;
        fill: grey;
    }
    #labels, #values {
    font-size: 1pt;
    fill: grey;
    }
    #lines, #labels > line {
    stroke: silver;
    stroke-width: 0.1pt;
    }
    #bars {
    fill: dodgerblue;
    }
    #boxes {
    stroke: black;
    stroke-width: 0.1pt;
    fill: none;
    }    